.background {
    background-color: rebeccapurple;
}

.trifle {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Размещать элементы по центру по оси X */
    /* Установить высоту контейнера на высоту видимого окна браузера */
    margin: 30px;

}

.trapezoid_1 {
    width: 280px;
    border-top: 80px solid rgb(177, 178, 196);
    border-left: 20px solid pink;
    border-right: 20px solid pink;

}



.trapezoid_2 {
    width: 240px;
    border-top: 40px solid rgb(177, 178, 196);
    border-left: 20px solid pink;
    border-right: 20px solid pink;

}

.trapezoid_3 {
    width: 200px;
    border-top: 80px solid rgb(177, 178, 196);
    border-left: 20px solid pink;
    border-right: 20px solid pink;

}



.trapezoid_4 {
    width: 160px;
    border-top: 80px solid rgb(177, 178, 196);
    border-left: 20px solid pink;
    border-right: 20px solid pink;

}

.biscuit_1P {
    font-size: 25px;
    font-style: italic;
    color: rgb(32, 143, 183);
    font-family: Arial;
}

.creamP {
    font-size: 25px;
    font-style: italic;
    color: rgb(32, 143, 183);
    font-family: Arial;
}

.interlayerP {
    font-size: 25px;
    font-style: italic;
    color: rgb(32, 143, 183);
    font-family: Arial;
}

.biscuit_2P {
    font-size: 25px;
    font-style: italic;
    color: rgb(32, 143, 183);
    font-family: Arial;
}

.chocolate_biscuit_1, .vanilla_biscuit_1, .red_velvet_biscuit_1, .chocolate_cream, .vanilla_cream, .strawberry_cream, .mango_cream,
.blueberries_interlayer, .strawberry_interlayer, .mango_interlayer, .caramel_interlayer, .chocolate_interlayer,
.chocolate_biscuit_2, .vanilla_biscuit_2, .red_velvet_biscuit_2
{
    width: 100px;
    height: 50px;
    transition: all 0.6s ease;
    border: 3px solid #341f23b9;
    font-style: italic;
    font-family: Arial;
    font-size: 20;
}

.chocolate_biscuit_1:hover, .vanilla_biscuit_1:hover, .red_velvet_biscuit_1:hover, .chocolate_cream:hover, .vanilla_cream:hover, .strawberry_cream:hover, .mango_cream:hover,
.blueberries_interlayer:hover, .strawberry_interlayer:hover, .mango_interlayer:hover, .caramel_interlayer:hover, .chocolate_interlayer:hover,
.chocolate_biscuit_2:hover, .vanilla_biscuit_2:hover, .red_velvet_biscuit_2:hover
{
    text-decoration: none ; 
    background-color: rgb(61, 158, 199) ;
    color: #ffeded ;
    border-color: #006089 ;
}


.chocolate_biscuit_1{
    background-color: #371D10;
}

.vanilla_biscuit_1{
    background-color: #f3e5ab;
}

.red_velvet_biscuit_1{
    background-color: #960018;
}

.chocolate_cream{
    background-color: #683a0a;

}

.vanilla_cream{
    background-color: #b5961b;
}

.strawberry_cream{
    background-color: #a8595a;
}

.mango_cream{
    background-color: #e7bf43;
}

.blueberries_interlayer{
    background-color: #c333cd;
}

.strawberry_interlayer{
    background-color: #7e1026b9;
}

.mango_interlayer{
    background-color: #ded2ab;
}

.caramel_interlayerlayer{
    background-color: #AF6F09;
}

.chocolate_interlayer{
    background-color: #4a330d;
}

.chocolate_biscuit_2{
    background-color: #371D10;
}

.vanilla_biscuit_2{
    background-color: #f3e5ab;
}

.red_velvet_biscuit_2{
    background-color: #960018;
}

.trapezoid_4.changed_chocolate_biscuit_1 {
    border-top: 80px solid #371D10;
}

.trapezoid_4.changed_vanilla_biscuit_1 {
    border-top: 80px solid #f3e5ab;
}

.trapezoid_4.changed_red_velvet_biscuit_1 {
    border-top: 80px solid #960018;
}

.trapezoid_3.changed_chocolate_cream {
    border-top: 80px solid #683a0a;
}

.trapezoid_3.changed_vanilla_cream {
    border-top: 80px solid #b5961b;
}

.trapezoid_3.changed_strawberry_cream {
    border-top: 80px solid #a8595a;
}

.trapezoid_3.changed_mango_cream {
    border-top: 80px solid #e7bf43;
}

.trapezoid_2.changed_blueberries_interlayer {
    border-top: 40px solid #c333cd;
}

.trapezoid_2.changed_strawberry_interlayer {
    border-top: 40px solid #7e1026b9;
}

.trapezoid_2.changed_mango_interlayer {
    border-top: 40px solid #ded2ab;
}

.trapezoid_2.changed_caramel_interlayer {
    border-top: 40px solid #AF6F09;
}

.trapezoid_2.changed_chocolate_interlayer {
    border-top: 40px solid #4a330d;
}


.trapezoid_1.changed_chocolate_biscuit_2 {
    border-top: 80px solid #371D10;
}

.trapezoid_1.changed_vanilla_biscuit_2 {
    border-top: 80px solid #f3e5ab;
}

.trapezoid_1.changed_red_velvet_biscuit_2 {
    border-top: 80px solid #960018;
}